# Supabase Configuration
SUPABASE_URL=https://yawpvchmwmngjxnulzgn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlhd3B2Y2htd21uZ2p4bnVsemduIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMwNTYxMSwiZXhwIjoyMDkzODgxNjExfQ.7fwb5vqrPfbVOtVuAhlqkmV_Aiql8GoU2WHz0NXfwEE

# Auth Configuration
ADMIN_ID=admin
ADMIN_PASSWORD=12345
STAFF_ID=staff
STAFF_PASSWORD=12345

# Client-side (Vite)
VITE_SUPABASE_URL=https://yawpvchmwmngjxnulzgn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_8X9umrX5qfZ6ENFxNUIrpA_I64RsW8O
